<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="Finger Licking Media heeft de kennis en de juiste ingrediënten om jouw verhaal goed te laten smaken.">
    
    <link rel="stylesheet" href='/assets/stylesheets/application.css'>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://w.eet.nu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://w.eet.nu/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

  </head>
  <body id="{{ page.name | replace: '.html' }}">
    {% include header.html %}

    <main>
      <section class="content">
        {{ content }}
      </section>
    </main>
    
    {% include footer.html %}
  </body>
</html>